apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_amq_console_demo_amq_streams_application_name }}
  namespace: {{ ocp4_workload_amq_console_demo_amq_streams_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_amq_console_demo_amq_streams_1_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_amq_console_demo_amq_streams_gitops_repo }}
    targetRevision: {{ ocp4_workload_amq_console_demo_amq_streams_gitops_repo_tag }}
    path: {{ ocp4_workload_amq_console_demo_amq_streams_gitops_repo_path }}
    helm:
      valuesObject:
        kafka1:
          enabled: {{ ocp4_workload_amq_console_demo_amq_streams_1_broker_enabled }}
        kafka2:
          enabled: {{ ocp4_workload_amq_console_demo_amq_streams_2_broker_enabled }}

        kafka-broker-1:
          namespace: {{ ocp4_workload_amq_console_demo_amq_streams_1_broker_namespace }}
          nameOverride: {{ ocp4_workload_amq_console_demo_amq_streams_1_broker_name }}
          kafka:
            controller:
              enabled: true
            listener:
              external:
                tls:
                  secret:
                    value:
                      crt: {{ ocp4_workload_amq_console_demo_openshift_ingress_cert }}
                      key: {{ ocp4_workload_amq_console_demo_openshift_ingress_key }}
          authentication:
            clientId: {{ ocp4_workload_amq_console_demo_amq_streams_1_client_id }}
            clientSecret: {{ ocp4_workload_amq_console_demo_amq_streams_1_client_secret }}
            securityProtocol: {{ ocp4_workload_amq_console_demo_amq_streams_1_security_protocol }}
            saslMechanism: {{ ocp4_workload_amq_console_demo_amq_streams_1_sasl_mechanism }}
        kafka-broker-2:
          namespace: {{ ocp4_workload_amq_console_demo_amq_streams_2_broker_namespace }}
          nameOverride: {{ ocp4_workload_amq_console_demo_amq_streams_2_broker_name }}
          kafka:
            controller:
              enabled: false
            listener:
              external:
                tls:
                  secret:
                    value:
                      crt: {{ ocp4_workload_amq_console_demo_openshift_ingress_cert }}
                      key: {{ ocp4_workload_amq_console_demo_openshift_ingress_key }}
          authentication:
            client:
              clientId: {{ ocp4_workload_amq_console_demo_amq_streams_2_client_id }}
              clientSecret: {{ ocp4_workload_amq_console_demo_amq_streams_2_client_secret }}
              securityProtocol: {{ ocp4_workload_amq_console_demo_amq_streams_2_security_protocol }}
              saslMechanism: {{ ocp4_workload_amq_console_demo_amq_streams_2_sasl_mechanism }}
              tokenEndpointUri: https://{{ ocp4_workload_amq_console_demo_rhbk_host }}.{{ r_openshift_subdomain }}/realms/{{ ocp4_workload_amq_console_demo_rhbk_realm_amqstreams_name }}/protocol/openid-connect/token
            server:
              type: oauth
              validIssuerUri: https://{{ ocp4_workload_amq_console_demo_rhbk_host }}.{{ r_openshift_subdomain }}/realms/{{ ocp4_workload_amq_console_demo_rhbk_realm_amqstreams_name }}
              jwksEndpointUri: https://{{ ocp4_workload_amq_console_demo_rhbk_host }}.{{ r_openshift_subdomain }}/realms/{{ ocp4_workload_amq_console_demo_rhbk_realm_amqstreams_name }}/protocol/openid-connect/certs
              userNameClaim: preferred_username
              maxSecondsWithoutReauthentication: 3600 
              enablePlain: false
        kafka-topics-1:
          kafka:
            namespace: {{ ocp4_workload_amq_console_demo_amq_streams_1_broker_namespace }}
            cluster: {{ ocp4_workload_amq_console_demo_amq_streams_1_broker_name }}
        kafka-topics-2:
          kafka:
            namespace: {{ ocp4_workload_amq_console_demo_amq_streams_2_broker_namespace }}
            cluster: {{ ocp4_workload_amq_console_demo_amq_streams_2_broker_name }}
        keycloak-realm-import-amqstreams:
          namespace: {{ ocp4_workload_amq_console_demo_rhbk_namespace }}
          keycloak:
            name: {{ ocp4_workload_amq_console_demo_rhbk_cr_name }}
          realm:
            name: {{ ocp4_workload_amq_console_demo_rhbk_realm_amqstreams_name }}
          client:
            amqstreams:
              name: {{ ocp4_workload_amq_console_demo_rhbk_client_amqstreams_name }}
              secret: {{ ocp4_workload_amq_console_demo_rhbk_client_amqstreams_secret }}
        
